html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #100912;
  }
}

:root {
  --theme-colour: hsl(16 100% 66%);
  --theme-colour-bg: hsl(16, 22%, 9%);
  --empty-card-border: hsl(16, 22%, 60%, 0.5);
  --text-color: hsl(17, 49%, 80%);
  --text-color-hover: hsl(17, 79%, 90%);
  --btn-bg: hsl(16, 56%, 35%);
  --border-radius: 1rem;

  --card-height: 18vh;
  --card-width: 20vw;
}